.home {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 92vh;
    padding-left: 12vw;
    padding-right: 12vw;
    border-bottom: 1px solid #DAFFFB;
}