.skills {
    display: flex;
    flex-direction: column;
    padding: 10vh 25vw 10vh 12vw;
    border-bottom: 1px solid #EEEEEE;
}

.skill-div {
    display: flex;
    flex-direction: row;
    margin: 8vh 0 0 0;
}

.skill-column {
    display: flex;
    flex-direction: column;
    width: 28vw;
    margin: 0 50px 0 0;
}
