.skills {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100vh;
    padding-left: 12vw;
    padding-right: 12vw;
    border-bottom: 1px solid #DAFFFB;
}

.skill-div {
    display: flex;
    flex-direction: row;
}


.skill-column{
    flex: 1;
    padding: 10px 0 10px 0;
}

.skill-child {
    padding-bottom: 20px;
}