.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  /* background-color: #DAFFFB; */
  background-color: #001C30;
  color: #ECF4D6;
}

/* .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */

/* #DAFFFB #64CCC5 #176B87 #001C30 */
/* #DAFFFB #64CCC5 #176B87 #04364A*/
/* #ECF4D6 #9AD0C2 #2D9596 #265073 */